.profile {
    width: 100%;
    margin: 10px;
}

.inner {
    float: right;
    text-align: center;
}

.profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
}

.goalSection {
    margin-left: 10%;
    margin-right: 5%;
}

.nutritionSection {
    margin-right: 5%;
}

@media (max-width: 1300px) 
{
    .goalSection {
        margin-left: 1%;
        margin-right: 1%;
    }
    .nutritionSection {
        margin-right: 1%;
        margin-left: 0%;
    }

}

@media (min-width: 1000px) 
{
    .panelWGoal {
        display: flex;
        width: 60%;
    }
    
    .nutritionWProfile {
        display: flex;
    }

}

@media (max-width: 1000px) 
{
    .profile {
        width: 200px;
        margin: 10px;
    }
}
