.searchIcon {
    cursor: pointer;
    margin-top: 0px;
    margin-left: 10px;
}

.searchLabel {
    margin-top: 5px;
}

.labelAndIcon {
    display: flex;
}

table {
    border-collapse: collapse;
    margin: 10px;
    width: 100%;
}

tr {
    border-bottom: 1px solid black;
}

th, td {
    padding:10px;
}

.quantity {
    float:right;
}

.apiForm {
    margin: 20px;
    width: 200px;
}

.chartTitle {
    margin-left: 20px;
    margin-top: 10px;
}

.titleAndReset {
    display: flex;
}

.track {
    width: 100%;
    margin-left: 10px;
}

.trackBtn {
    padding: 7px;
    margin-bottom: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

.panel {
    width: 200px;
    height: 600px;
}

.scroll {
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}

.botSpacing {
    margin-bottom: 30px;
}

.listTitle {
    width: 200px;
    text-align: center;
    -webkit-box-shadow: 0 10px 10px -10px #000000;
    -moz-box-shadow: 0 10px 10px -10px #000000;
    box-shadow: 0 10px 10px -10px #000000;
}

@media (min-width: 1175px) 
{

    .sec {
        display: flex;
    }

}