.searchIcon {
    cursor: pointer;
    margin-top: 0px;
    margin-left: 10px;
}

.searchLabel {
    margin-top: 5px;
}

.labelAndIcon {
    display: flex;
}

table {
    border-collapse: collapse;
    margin: 10px;
    width: 100%;
}

tr {
    border-bottom: 1px solid black;
}

th, td {
    padding:10px;
}

.quantity {
    float:right;
}

.apiForm {
    margin: 20px;
}

.chartTitle {
    margin-left: 20px;
    margin-top: 10px;
}

.titleAndReset {
    display: flex;
}

.track {
    width: 100%;
    margin-left: 10px;
}

.trackBtn {
    padding: 7px;
    margin-bottom: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

